<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>{{title}}</title>
    <meta property="og:title" content="Фотографии Вадима - {{title}}" />
    <meta property="og:type" content="website" />
    <style>
      html {
        color-scheme: dark;
      }
      html {
        color: rgba(255,255,255,0.65);
      }
      a {
        color: rgba(255,255,255,0.65);
      }
    </style>
    <link rel="icon" href="/static/favicon.ico" sizes="any" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body class="h-100 d-flex flex-column" data-bs-theme="dark">

    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Фотографии Вадима</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-nav"
            aria-controls="navbar-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-nav">
            <ul class="navbar-nav">
              {{navigation}}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-2 ps-2 pe-2">
      <div class="d-flex flex-wrap">
        {{photos}}
      </div>
    </main>

    <footer class="footer mt-auto py-3 ps-3 bg-body-tertiary">
      <span class="text-body-secondary">
        © Вадим Чупраков 2012-{{year}}. Все права защищены.
        При использовании фотографий в любых целях указание авторства обязательно.
      </span>
    </footer>

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>