<div>
  <p>id: {{id}}</p>
  <p>source_name: {{source_name}}</p>
  <p>date_created: {{date_created}}</p>
  <p>category: {{category}}</p>
  <a href="/static/photos/{{id}}-lg.jpg">
    <img src="/static/photos/{{id}}-sm.webp" />
  </a>
</div>